@charset "utf-8";
/*html,body{
overflow-x: hidden;
}*/
body {
  margin: 28px 28px auto 28px;
  padding: 0;
  background-image: url(./voiz_images/bg_body.png);
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: auto;
}
#service_logo {
  margin-right: auto;
}
h1 {
  margin: 0;
  padding: 0;
}
h1 img{
  width: 210px;
  height: 56px;
}
#haeder_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#haeder_top ul li{
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  float: left;
}
#language ul li span{
  opacity: .3;
}
#language ul li a{
  opacity: .6;
}
#language ul li a.current{
  opacity: 1;
}
#homepage a {
  margin-left: 20px;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.Main {
  margin: auto;
  padding: auto;
}
.MainContent {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 924px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.MainContent .iphone_area {
  margin: 0;
  padding: 0;
  width: 308px;
  height: 560px;
}
#iphone img{
  width: 308px;
  height: 560px;
}

.MainContent .content_area {
  box-sizing: border-box;
  width: 588px;
  height: 406px;
  margin: 0 0 0 28px;
  padding: 0 28px;
}

.MainContent .content_area h2{
  margin: 0;
  margin-top:5px;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.125;
  color: #fff;
}
.MainContent .content_area h3{
  margin: 0;
  margin-top:23px;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.33333;
  color: #fff;
}

.store_link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.store_link ul li{
  margin-right: 14px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.store_link ul li img {
  width: 135px;
  height: 40px;
}

.sideber {
  width: 42px;
  height: 252px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0%;
  transform: translate(-50%,-50%);
}
.sideber #shere ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 42px;
  height: 252px;
}
.sideber #shere ul li{
  margin:0;
  padding: 0;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}
.sideber #shere ul li:first-child {
  width: 28px;
  height: 14px;
  margin-top: 0;
}
.sideber #shere ul li p{
  margin: 0;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  opacity: .75;
}
.sideber img{
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
}


footer {
  right: 0px;
  width: 100%;
  position: absolute;
  bottom: 0%;

}

footer ul{
  margin: 0 28px 28px 28px;
  padding: 0;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
}

.arrow {
  font-size: smaller;
  color: #fff;
  opacity: .75;
  /*width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;*/
}

footer ul li a{
  text-decoration: none;
  margin-right: 28px;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}


footer ul li:last-child {
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: 'Avenir Next', 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  opacity: .75;
}
